.login-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.customer-login{
    font-size: 60px;
    color: #454545;
    font-weight: 400;
    text-transform: none;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
    line-height: 1;
   
}



.login-table{
    height:450px;
    width: 600px;
    margin-top: 60px;
    margin-bottom: 50px;
    border: 1px solid #454545;
    padding:20px;
}

h5{
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 12px;
    font-size: 16px;
    color: #292929;
    font-family: 'Helvetica Neue',sans-serif;
    line-height: 22px;
    font-weight: bold;
}

.input-login{
    display: flex;
    flex-direction: column;
    
}

.input-styling-login-input{
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    padding: 5px;
    box-shadow: none;

    background-color: #fff;
    border-radius: 0;

}

.input-styling-login-input:focus{
   outline: none;
}

.input-styling-login{
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    padding: 5px;
    box-shadow: none;
    
    background-color: #fff;
    border-radius: 0;

}


.input-styling-login:focus{
    outline: none;
 }

 .sign-in-button{
    color: #fff;
    border-color: #231f20;
    border-radius: 30px;
    color: #000;
    padding: 14px 35px;
    font-size: 13px;
    letter-spacing: .5px;
    text-transform: none;
    white-space: normal;
    background-color: #f4ae1a;
    outline: none!important;
    border: 2px solid #f4ae1a;
 }


 .forgot-password-link{
    font-size: 13px;
    padding-left: 0;
    color: #014b68;
    margin-left: 15px;
    align-self:center;
    text-decoration: none
 }


 .button-password-div{
    display: flex;

    
 }

 .captcha-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 304px;
    height: 78px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border: 1px solid #d3d3d3;
    margin: 20px 0 20px 0;
    background: #f9f9f9;
    color: #000;

 }

 .captcha-secound-div{
    display: flex;
    flex-direction: row;
    align-items: center;

 }

 .captcha-checkbox{
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #c1c1c1;
    font-size: 1px;
    height: 24px;
    width: 24px;
    z-index: 1;
 }

 .input-styling-login{
    border: 1px solid #d3d3d3;
    height: 50px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 0;
 }

.go-back{
    
text-decoration: none;
    
}

.goback-div{
    margin-top: 90px;
    text-decoration: none;
    
   

}


.captcha-img-div > img{

    background-size: 32px;
    height: 32px;
    margin: 0 13px 0 13px;
    width: 32px;
    display: block;
    
    
}


.captcha-img-div{
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;

    font-size: 8px;
    font-weight: 400;
}

.captcha-img-div > span{
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;

}

.captcha-img-div > span{
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;


    text-align: center;

    font-size: 8px;
    font-weight: 400;
}